body {
  display: flex;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* sidebar */
nav.sidebar {
  height: 100vh;
  width: 48px;
  background-image: linear-gradient(to bottom, #667, #585669);
  box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
  height: 100vh;
}

/* brand logo */
.brand {
  color: #fff;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 2px #444);
  font-family: 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-orientation: mixed;
  opacity: 0.85;
  padding: 10px 12px;
  user-select: none;
  writing-mode: vertical-rl;
  text-decoration: none;
}
.brand:hover {
  color: #fff;
  filter: drop-shadow(0 0 2px #333);
  opacity: 0.9;
  text-decoration: none;
}
.brand::before {
  content: '';
  background: url(logo.svg) no-repeat 0 center;
  background-size: 26px;
  height: 26px;
  width: 26px;
  margin-bottom: 10px;
}

#app {
  height: 100vh;
  display: flex;
  flex: 1;
}

.table-corner {
  background: url('https://hyperparam.app/assets/table/hightable.svg') #e4e4e6 no-repeat center 6px;
}

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.topbar {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  display: flex;
  //height: 3em;
  width: 100%;

  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 1em;
}
.topbar .title {
  color: #444;
  font-weight: bold;
}
.topbar .link {
  color: #888;
  cursor: pointer;
}
.topbar .link.active {
  color: #706fb1;
  font-weight: bold;
}

.content {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content section {
  margin: 1em;
  display: flex;
  gap: 0.5em;
}