* {
  box-sizing: border-box;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand {
  display: flex !important;
  align-items: center;
  font-family: 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  text-shadow: 0 0 1px #222;
  user-select: none;
}
.brand img {
  height: 26px;
  width: 26px;
  margin-bottom: 10px;
  filter: drop-shadow(0 0 1px #505050);
}

a {
  color: #342267;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

/* layout */
main {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

/* sidebar */
.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 48px;
  background-image: linear-gradient(to bottom, #667, #585669);
  box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* nav links */
.nav ul {
  list-style: none;
}
.nav li {
  margin: 0;
}
.nav a {
  color: #fff;
  cursor: pointer;
  display: block;
  opacity: 0.85;
  padding: 10px 12px;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

/* content area */
.content-container {
  min-width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  /* no outer scrollbars */
  overflow: hidden;
}

/* top navbar */
.top-header {
  align-items: center;
  background: linear-gradient(to right, #353540, #24202b);
  color: #dde4ea;
  display: flex;
  height: 32px;
  justify-content: space-between;
  min-height: 32px;
  padding-left: 8px;
}
.top-header h1 {
  font-size: 18px;
  margin: 0;
}
.top-header a {
  color: #e0e8ee;
}

/* file path */
.path {
  margin: 0 2px;
  margin-right: 4px;
  min-width: 0;
  overflow: auto;
}
.path::-webkit-scrollbar {
  display: none;
}
.path a {
  color: #f0f8ff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration-thickness: 1px;
}
/* hide all but the last path link on small screens */
@media (max-width: 360px) {
  .path a:not(:last-child) {
    display: none;
  }
}

/* error bar */
.error-bar {
  max-height: 0;
  padding: 0;
  background-color: #dd111199;
  font-family: monospace;
  overflow-y: auto;
  transition: max-height 0.3s;
  white-space: pre-wrap;
}
.show-error {
  max-height: 30%;
  padding: 10px;
}

/* file list */
.file-list {
  flex: 1;
  list-style: none;
  overflow-y: auto;
  /* browsers like to cover the bottom row */
  padding-bottom: 24px;
}
.file-list li {
  margin: 0;
}
.file-list li:first-child a {
  border-top: none;
}
.file-list a {
  border-top: 1px solid #bbb;
  color: #444;
  display: flex;
  padding: 8px 12px;
  text-decoration: none;
}
.file-list a:hover {
  background-color: #e2e2ee;
}

.file-list a > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-name {
  flex: 1;
  min-width: 80px;
}
.file-size {
  color: #666;
  margin: 0 16px;
  text-align: right;
}
.file-date {
  width: 80px;
  text-align: right;
}

/* file icons */
.file {
  background: url(/public/file.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-left: 22px;
}
.folder {
  background-image: url(/public/folder.svg);
}
